// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.color-preview {
  border-radius: 5px;
  width: 5px;
  height: 1px;
}

.color-preview:hover {
  border-radius: 5px;
  width: 10px;
  height: 10px;
}
